/*!
	Takeoff Boilerplate by Artem Rumiantsev
	https://github.com/artemworks/takeoff
	MIT license
*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*
	Variables 
*/
/*
  Clearfix
*/
/*
  Basic
*/
* {
  box-sizing: border-box; }

*:before,
*:after {
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  /* 1rem = 10px */
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  font-family: "PT Sans", "Roboto", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.6;
  color: #222831;
  background-color: #fff;
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-position: center center; }

a {
  color: #222831;
  text-decoration: none; }
  a:hover, a:focus {
    color: #393E46;
    text-decoration: none; }

img {
  vertical-align: middle; }

/*
  Grid
*/
.container {
  margin-right: auto;
  margin-left: auto; }
  .container:before, .container:after {
    content: " ";
    display: table; }
  .container:after {
    clear: both; }
  @media (min-width: 480px) {
    .container {
      width: 460px; } }
  @media (min-width: 768px) {
    .container {
      width: 780px; } }
  @media (min-width: 992px) {
    .container {
      width: 980px; } }
  @media (min-width: 1200px) {
    .container {
      width: 1180px; } }
  @media (min-width: 1440px) {
    .container {
      width: 1420px; } }

.container-fluid {
  margin-right: auto;
  margin-left: auto; }
  .container-fluid:before, .container-fluid:after {
    content: " ";
    display: table; }
  .container-fluid:after {
    clear: both; }

.row {
  margin: 0 auto;
  padding: 0;
  width: 100%; }
  .row:before, .row:after {
    content: " ";
    display: table; }
  .row:after {
    clear: both; }

.col {
  float: left;
  position: relative;
  padding: 0 20px;
  width: 100%; }

.xs-1 {
  width: 8.33333%; }

.xs-push-1 {
  left: 8.33333%; }

.xs-pull-1 {
  right: 8.33333%; }

.xs-2 {
  width: 16.66667%; }

.xs-push-2 {
  left: 16.66667%; }

.xs-pull-2 {
  right: 16.66667%; }

.xs-3 {
  width: 25%; }

.xs-push-3 {
  left: 25%; }

.xs-pull-3 {
  right: 25%; }

.xs-4 {
  width: 33.33333%; }

.xs-push-4 {
  left: 33.33333%; }

.xs-pull-4 {
  right: 33.33333%; }

.xs-5 {
  width: 41.66667%; }

.xs-push-5 {
  left: 41.66667%; }

.xs-pull-5 {
  right: 41.66667%; }

.xs-6 {
  width: 50%; }

.xs-push-6 {
  left: 50%; }

.xs-pull-6 {
  right: 50%; }

.xs-7 {
  width: 58.33333%; }

.xs-push-7 {
  left: 58.33333%; }

.xs-pull-7 {
  right: 58.33333%; }

.xs-8 {
  width: 66.66667%; }

.xs-push-8 {
  left: 66.66667%; }

.xs-pull-8 {
  right: 66.66667%; }

.xs-9 {
  width: 75%; }

.xs-push-9 {
  left: 75%; }

.xs-pull-9 {
  right: 75%; }

.xs-10 {
  width: 83.33333%; }

.xs-push-10 {
  left: 83.33333%; }

.xs-pull-10 {
  right: 83.33333%; }

.xs-11 {
  width: 91.66667%; }

.xs-push-11 {
  left: 91.66667%; }

.xs-pull-11 {
  right: 91.66667%; }

.xs-12 {
  width: 100%; }

.xs-push-12 {
  left: 100%; }

.xs-pull-12 {
  right: 100%; }

.xs-offset-1 {
  margin-left: 8.33333%; }

.xs-offset-2 {
  margin-left: 16.66667%; }

.xs-offset-3 {
  margin-left: 25%; }

.xs-offset-4 {
  margin-left: 33.33333%; }

.xs-offset-5 {
  margin-left: 41.66667%; }

.xs-offset-6 {
  margin-left: 50%; }

.xs-offset-7 {
  margin-left: 58.33333%; }

.xs-offset-8 {
  margin-left: 66.66667%; }

.xs-offset-9 {
  margin-left: 75%; }

.xs-offset-10 {
  margin-left: 83.33333%; }

.xs-offset-11 {
  margin-left: 91.66667%; }

@media all and (min-width: 768px) {
  .sm-1 {
    width: 8.33333%; }
  .sm-push-1 {
    left: 8.33333%; }
  .sm-pull-1 {
    right: 8.33333%; }
  .sm-2 {
    width: 16.66667%; }
  .sm-push-2 {
    left: 16.66667%; }
  .sm-pull-2 {
    right: 16.66667%; }
  .sm-3 {
    width: 25%; }
  .sm-push-3 {
    left: 25%; }
  .sm-pull-3 {
    right: 25%; }
  .sm-4 {
    width: 33.33333%; }
  .sm-push-4 {
    left: 33.33333%; }
  .sm-pull-4 {
    right: 33.33333%; }
  .sm-5 {
    width: 41.66667%; }
  .sm-push-5 {
    left: 41.66667%; }
  .sm-pull-5 {
    right: 41.66667%; }
  .sm-6 {
    width: 50%; }
  .sm-push-6 {
    left: 50%; }
  .sm-pull-6 {
    right: 50%; }
  .sm-7 {
    width: 58.33333%; }
  .sm-push-7 {
    left: 58.33333%; }
  .sm-pull-7 {
    right: 58.33333%; }
  .sm-8 {
    width: 66.66667%; }
  .sm-push-8 {
    left: 66.66667%; }
  .sm-pull-8 {
    right: 66.66667%; }
  .sm-9 {
    width: 75%; }
  .sm-push-9 {
    left: 75%; }
  .sm-pull-9 {
    right: 75%; }
  .sm-10 {
    width: 83.33333%; }
  .sm-push-10 {
    left: 83.33333%; }
  .sm-pull-10 {
    right: 83.33333%; }
  .sm-11 {
    width: 91.66667%; }
  .sm-push-11 {
    left: 91.66667%; }
  .sm-pull-11 {
    right: 91.66667%; }
  .sm-12 {
    width: 100%; }
  .sm-push-12 {
    left: 100%; }
  .sm-pull-12 {
    right: 100%; }
  .sm-offset-1 {
    margin-left: 8.33333%; }
  .sm-offset-2 {
    margin-left: 16.66667%; }
  .sm-offset-3 {
    margin-left: 25%; }
  .sm-offset-4 {
    margin-left: 33.33333%; }
  .sm-offset-5 {
    margin-left: 41.66667%; }
  .sm-offset-6 {
    margin-left: 50%; }
  .sm-offset-7 {
    margin-left: 58.33333%; }
  .sm-offset-8 {
    margin-left: 66.66667%; }
  .sm-offset-9 {
    margin-left: 75%; }
  .sm-offset-10 {
    margin-left: 83.33333%; }
  .sm-offset-11 {
    margin-left: 91.66667%; } }

@media all and (min-width: 992px) {
  .md-1 {
    width: 8.33333%; }
  .md-push-1 {
    left: 8.33333%; }
  .md-pull-1 {
    right: 8.33333%; }
  .md-2 {
    width: 16.66667%; }
  .md-push-2 {
    left: 16.66667%; }
  .md-pull-2 {
    right: 16.66667%; }
  .md-3 {
    width: 25%; }
  .md-push-3 {
    left: 25%; }
  .md-pull-3 {
    right: 25%; }
  .md-4 {
    width: 33.33333%; }
  .md-push-4 {
    left: 33.33333%; }
  .md-pull-4 {
    right: 33.33333%; }
  .md-5 {
    width: 41.66667%; }
  .md-push-5 {
    left: 41.66667%; }
  .md-pull-5 {
    right: 41.66667%; }
  .md-6 {
    width: 50%; }
  .md-push-6 {
    left: 50%; }
  .md-pull-6 {
    right: 50%; }
  .md-7 {
    width: 58.33333%; }
  .md-push-7 {
    left: 58.33333%; }
  .md-pull-7 {
    right: 58.33333%; }
  .md-8 {
    width: 66.66667%; }
  .md-push-8 {
    left: 66.66667%; }
  .md-pull-8 {
    right: 66.66667%; }
  .md-9 {
    width: 75%; }
  .md-push-9 {
    left: 75%; }
  .md-pull-9 {
    right: 75%; }
  .md-10 {
    width: 83.33333%; }
  .md-push-10 {
    left: 83.33333%; }
  .md-pull-10 {
    right: 83.33333%; }
  .md-11 {
    width: 91.66667%; }
  .md-push-11 {
    left: 91.66667%; }
  .md-pull-11 {
    right: 91.66667%; }
  .md-12 {
    width: 100%; }
  .md-push-12 {
    left: 100%; }
  .md-pull-12 {
    right: 100%; }
  .md-offset-1 {
    margin-left: 8.33333%; }
  .md-offset-2 {
    margin-left: 16.66667%; }
  .md-offset-3 {
    margin-left: 25%; }
  .md-offset-4 {
    margin-left: 33.33333%; }
  .md-offset-5 {
    margin-left: 41.66667%; }
  .md-offset-6 {
    margin-left: 50%; }
  .md-offset-7 {
    margin-left: 58.33333%; }
  .md-offset-8 {
    margin-left: 66.66667%; }
  .md-offset-9 {
    margin-left: 75%; }
  .md-offset-10 {
    margin-left: 83.33333%; }
  .md-offset-11 {
    margin-left: 91.66667%; } }

@media all and (min-width: 1200px) {
  .lg-1 {
    width: 8.33333%; }
  .lg-push-1 {
    left: 8.33333%; }
  .lg-pull-1 {
    right: 8.33333%; }
  .lg-2 {
    width: 16.66667%; }
  .lg-push-2 {
    left: 16.66667%; }
  .lg-pull-2 {
    right: 16.66667%; }
  .lg-3 {
    width: 25%; }
  .lg-push-3 {
    left: 25%; }
  .lg-pull-3 {
    right: 25%; }
  .lg-4 {
    width: 33.33333%; }
  .lg-push-4 {
    left: 33.33333%; }
  .lg-pull-4 {
    right: 33.33333%; }
  .lg-5 {
    width: 41.66667%; }
  .lg-push-5 {
    left: 41.66667%; }
  .lg-pull-5 {
    right: 41.66667%; }
  .lg-6 {
    width: 50%; }
  .lg-push-6 {
    left: 50%; }
  .lg-pull-6 {
    right: 50%; }
  .lg-7 {
    width: 58.33333%; }
  .lg-push-7 {
    left: 58.33333%; }
  .lg-pull-7 {
    right: 58.33333%; }
  .lg-8 {
    width: 66.66667%; }
  .lg-push-8 {
    left: 66.66667%; }
  .lg-pull-8 {
    right: 66.66667%; }
  .lg-9 {
    width: 75%; }
  .lg-push-9 {
    left: 75%; }
  .lg-pull-9 {
    right: 75%; }
  .lg-10 {
    width: 83.33333%; }
  .lg-push-10 {
    left: 83.33333%; }
  .lg-pull-10 {
    right: 83.33333%; }
  .lg-11 {
    width: 91.66667%; }
  .lg-push-11 {
    left: 91.66667%; }
  .lg-pull-11 {
    right: 91.66667%; }
  .lg-12 {
    width: 100%; }
  .lg-push-12 {
    left: 100%; }
  .lg-pull-12 {
    right: 100%; }
  .lg-offset-1 {
    margin-left: 8.33333%; }
  .lg-offset-2 {
    margin-left: 16.66667%; }
  .lg-offset-3 {
    margin-left: 25%; }
  .lg-offset-4 {
    margin-left: 33.33333%; }
  .lg-offset-5 {
    margin-left: 41.66667%; }
  .lg-offset-6 {
    margin-left: 50%; }
  .lg-offset-7 {
    margin-left: 58.33333%; }
  .lg-offset-8 {
    margin-left: 66.66667%; }
  .lg-offset-9 {
    margin-left: 75%; }
  .lg-offset-10 {
    margin-left: 83.33333%; }
  .lg-offset-11 {
    margin-left: 91.66667%; } }

@media all and (min-width: 1440px) {
  .xl-1 {
    width: 8.33333%; }
  .xl-push-1 {
    left: 8.33333%; }
  .xl-pull-1 {
    right: 8.33333%; }
  .xl-2 {
    width: 16.66667%; }
  .xl-push-2 {
    left: 16.66667%; }
  .xl-pull-2 {
    right: 16.66667%; }
  .xl-3 {
    width: 25%; }
  .xl-push-3 {
    left: 25%; }
  .xl-pull-3 {
    right: 25%; }
  .xl-4 {
    width: 33.33333%; }
  .xl-push-4 {
    left: 33.33333%; }
  .xl-pull-4 {
    right: 33.33333%; }
  .xl-5 {
    width: 41.66667%; }
  .xl-push-5 {
    left: 41.66667%; }
  .xl-pull-5 {
    right: 41.66667%; }
  .xl-6 {
    width: 50%; }
  .xl-push-6 {
    left: 50%; }
  .xl-pull-6 {
    right: 50%; }
  .xl-7 {
    width: 58.33333%; }
  .xl-push-7 {
    left: 58.33333%; }
  .xl-pull-7 {
    right: 58.33333%; }
  .xl-8 {
    width: 66.66667%; }
  .xl-push-8 {
    left: 66.66667%; }
  .xl-pull-8 {
    right: 66.66667%; }
  .xl-9 {
    width: 75%; }
  .xl-push-9 {
    left: 75%; }
  .xl-pull-9 {
    right: 75%; }
  .xl-10 {
    width: 83.33333%; }
  .xl-push-10 {
    left: 83.33333%; }
  .xl-pull-10 {
    right: 83.33333%; }
  .xl-11 {
    width: 91.66667%; }
  .xl-push-11 {
    left: 91.66667%; }
  .xl-pull-11 {
    right: 91.66667%; }
  .xl-12 {
    width: 100%; }
  .xl-push-12 {
    left: 100%; }
  .xl-pull-12 {
    right: 100%; }
  .xl-offset-1 {
    margin-left: 8.33333%; }
  .xl-offset-2 {
    margin-left: 16.66667%; }
  .xl-offset-3 {
    margin-left: 25%; }
  .xl-offset-4 {
    margin-left: 33.33333%; }
  .xl-offset-5 {
    margin-left: 41.66667%; }
  .xl-offset-6 {
    margin-left: 50%; }
  .xl-offset-7 {
    margin-left: 58.33333%; }
  .xl-offset-8 {
    margin-left: 66.66667%; }
  .xl-offset-9 {
    margin-left: 75%; }
  .xl-offset-10 {
    margin-left: 83.33333%; }
  .xl-offset-11 {
    margin-left: 91.66667%; } }
