/*
	Variables 
*/

// Color Credits: http://colorhunt.co/hot

$font-color-one: #00204A;
$font-color-two: #005792;
$font-color-three: #00BBF0;
$font-color-four: #FAFAFA;

$basic-color: #fff;
$basic-bgcolor: $basic-color;

$basic-font-family: 'Fira Sans', sans-serif;
$basic-font-size: 1.6rem;
$basic-font-weight: 400;
$basic-line-height: 1.6;

$basic-text-color: $font-color-one;
$basic-link-color: $basic-text-color;
$basic-link-hover-color: $font-color-two;
$basic-link-hover-decoration: none;

$columns: 12 !default;
$grid-gutter-width: 20px !default;

// @media breakpoints

$xs: 480px !default;
$sm: 768px !default;
$md: 992px !default;
$lg: 1200px !default;
$xl: 1440px !default;


